<app-nav-bar></app-nav-bar>

<div style="display: flex;" class="head">
    <div style="text-align: left; margin: auto; display: block">
        <div>
            <h1 style="margin-bottom: 4%" class="intro-font">
                Get Premium free for 1 month
            </h1>
            <h1 class="nhf">Just 59000₫/month after. Cancel anytime.</h1>

            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <button mat-stroked-button class="btn-download">GO PREMIUM NOW</button>

            <h1 class="nbt">
                <a href="" style="cursor: pointer; color: white"><u> Terms and conditions apply.</u></a
        >
        1 month free not available for users who have already tried Premium.
      </h1>
    </div>
  </div>
</div>

<div style="display: flex" class="body">
  <div style="margin: auto; display: block">
    <div>
      <h1 class="intro-font" style="margin-top: -170px;">Why go Premium?</h1>
    </div>
    <div class="introitem">
      <div>
        <img
          src="https://cdn2.iconfinder.com/data/icons/game-assets-3/300/No_Ads.png"
        />
        <p class="intro-item-font">No ad interruptions.</p>
        <p class="intro-item-below-font">Enjoy nonstop music.</p>
      </div>
      <div>
        <img
          src="https://i.pinimg.com/564x/48/02/a7/4802a75ce787530a632080c3df8a8f97.jpg"
        />
        <p class="intro-item-font">Play any song.</p>
        <p class="intro-item-below-font">Even on mobile.</p>
      </div>
      <div>
        <img src="https://img.icons8.com/bubbles/2x/video-playlist.png" />
        <p class="intro-item-font">List of premium music</p>
        <p class="intro-item-below-font">Unlimited</p>
      </div>
    </div>
  </div>
</div>

<div  class="body" id="buypremium">
  <div style="margin: auto; ">
    <h1 class="intro-font" style="margin-bottom: 50px;">GET PREMIUM NOW</h1>

    <div class="paymentbox">
      <p class="intro-item-font">Spotify Premium</p>
      <p class="intro-item-below-font">59000₫/month after free month. Cancel anytime.</p>
      <img class="imginbox" src="https://campaigns.scdn.co/images/momo_new.png">

      <!-- <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected">
          <mat-option value="option1">1 Day</mat-option>
          <mat-option value="option2">7 Days</mat-option>
          <mat-option value="option3">1 Month</mat-option>
          <mat-option value="option4">3 Months</mat-option>
          <mat-option value="option5">6 Months</mat-option>
          <mat-option value="option6">1 Year</mat-option>
        </mat-select>
      </mat-form-field> -->

      <button mat-stroked-button class="btn-download">GET PREMIUM</button>

    </div>
  </div>
</div>