.head {
  margin: auto;
  text-align: center;
  background-color: #3d5afe;
  color: white;
  height: 60%;
}

.intro-font {
  font-size: 3vw;
  font-weight: 500;
}

.nhf {
  font-size: 2vw;
}
.nbt {
  font-size: 1vw;
}

.btn-download{
  padding: 2% 3% 2% 3%;
  border-radius: 40px;
  display: absolute;
  margin: auto;
  background: #0AD552;
  font-size: 120%;
}

.btn-download:hover{
  opacity: 0.5;
}

.body {
  margin: auto;
  text-align: center;
  height: 80%;
}

.introitem {
  justify-content: space-between;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  grid-template-rows: repeat(1, 50px);
}

img {
  width: 70%;
  margin-top: 20%;
}

.intro-item-font {
  font-size: 1.5vw;
}
.intro-item-below-font {
  font-size: 1vw;
}

.paymentbox {
  position:  relative;
  text-align: center;
  background-color: white;
  width: 30vw;
  height: 30vw;
  border: 15px solid #6225e6;
  padding: 50px;
  margin: auto;
}

.imginbox{
  width: 18vw;
  margin-bottom: 3%;
}


@media only screen and (max-width: 1300px) {
  .intro-font {
    font-size: 3vw;
  }
  .nhf {
    font-size: 2vw;
  }
  .nbt {
    font-size: 1vw;
  }
  .intro-item-font {
    font-size: 2vw;
  }
  .intro-item-below-font {
    font-size: 1.5vw;
  }
  .paymentbox {
    width: 35vw;
    height: 35vw;
  }
  .imginbox{
  width: 22vw;
  margin-bottom: 3%;
}
}

@media only screen and (max-width: 1100px) {
  .intro-font {
    font-size: 5vw;
  }
  .nhf {
    font-size: 3vw;
  }
  .nbt {
    font-size: 2vw;
  }
  .intro-item-font {
    font-size: 2.5vw;
  }
  .intro-item-below-font {
    font-size: 2vw;
  }
  .paymentbox {
    width: 40vw;
    height: 40vw;
  }
  .imginbox{
    width: 25vw;
    margin-bottom: 3%;
  }
}

@media only screen and (max-width: 900px) {
  .intro-font {
    font-size: 5vw;
  }
  .nhf {
    font-size: 3vw;
  }
  .nbt {
    font-size: 2vw;
  }
  .intro-item-font {
    font-size: 3vw;
  }
  .intro-item-below-font {
    font-size: 2.5vw;
  }
  .paymentbox {
    width: 50vw;
    height: 50vw;
  }
  .imginbox{
    width: 28vw;
    margin-bottom: 3%;
  }
}

@media only screen and (max-width: 700px) {
  .intro-font {
    font-size: 6vw;
  }
  .nhf {
    font-size: 3vw;
  }
  .nbt {
    font-size: 2vw;
  }
  .intro-item-font {
    font-size: 3.5vw;
  }
  .intro-item-below-font {
    font-size: 3vw;
  }
  .paymentbox {
    width: 65vw;
    height: 65vw;
  }
  .imginbox{
    width: 40vw;
    margin-bottom: 3%;
  }
}

@media only screen and (max-width: 500px) {
  .body {
    height: 70%;
  }
  .paymentbox {
    width: 80vw;
    height: 80vw;
  }
  .imginbox{
    width: 50vw;
    margin-bottom: 3%;
  }
}

@media only screen and (max-width: 400px) {
  .head {
    width: 170%;
  }
  .nhf {
    font-size: 6vw;
  }
  .nbt {
    font-size: 4vw;
  }
  .intro-font {
    font-size: 10vw;
  }
  .body {
    width: 170%;
    height: 70%;
  }
  .intro-item-font {
    font-size: 4vw;
  }
  .intro-item-below-font {
    font-size: 3.5vw;
  }
  .paymentbox {
    width: 110vw;
    height: 110vw;
  }
  .imginbox{
    width: 75vw;
    margin-bottom: 3%;
  }
}

@media only screen and (max-width: 270px) {
  .head {
    width: 200%;
  }
  .nhf {
    font-size: 8vw;
  }
  .nbt {
    font-size: 6vw;
  }
  .intro-font {
    font-size: 15vw;
  }
  .body {
    width: 200%;
  }
  .intro-item-font {
    font-size: 4.5vw;
  }
  .intro-item-below-font {
    font-size: 4vw;
  }
  .paymentbox {
    width: 140vw;
    height: 130vw;
  }
  .imginbox{
    width: 85vw;
    margin-bottom: 3%;
  }
}

