<div class="headerr">
    <div class="header">
        <a href="../signin/signin.component.html">
            <img class="logo" src="../../../assets/img/nentrang.png" alt="logo" width="20%" />
        </a>
    </div>
</div>
<div class="content-main">
    <div class="container">
        <div class="boxContent">
            <div>
                <h1>
                    <b> Cài đặt lại Mật Khẩu</b>
                </h1>
            </div>
            <div>
                <p>
                    Nhập <b>tên người dùng Grenny</b>, hoặc <b> địa chỉ email</b> bạn đã dùng để đăng ký. Chúng tôi sẽ gửi email cho bạn với tên người dùng của bạn và một liên kết để đặt lại mật khẩu của bạn.
                </p>
            </div>

            <div>
                <div class="form-control ">
                    <p style="font-size: 20px; "> Địa chỉ email người dùng
                    </p>
                </div>
                <div>
                    <input id="name " class="form-control-input " type="email " name="email ">
                </div>

                <div class="submit ">
                    <button class="submit submition " type="submit ">Gửi</button>
                </div>
                <p>
                    Nếu bạn vẫn cần trợ giúp, hãy liên hệ
                    <a> Bộ phận hỗ trợ của Grenny.</a>
                </p>
            </div>
        </div>
    </div>
</div>

<footer class="footer footer-default" role="contentinfo">
    <div class="container">
        <div class="">
            <div>
                <ul class="small">
                    <li>Pháp Lý </li>
                    <li>Cookies</li>
                    <li>Giới thiệu Quảng cáo</li>
                </ul>
            </div>
        </div>
    </div>

</footer>