<nb-card>


    <nb-card-body>

        <div class="signUp">
            <div class="signUpHeader">
                <div class="container">
                    <div class="boxContent">
                        <a href="./Login.html">
                            <img class="logo" src="../../../assets/img/nền đen.png" alt="logo" width="20%" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="signUpBody">
            <div class="container">
                <div class="boxContent">
                    <div>
                        <h2 style="text-align:center">
                            To continue, log in to Grenny.
                        </h2>
                    </div>
                    <form name="DuLieu">
                        <div id="error"></div>
                        <div><input id="name" class="form-control" type="email" name="email" placeholder="Email or Username" required>
                        </div>
                        <div><input id="password" class="form-control" type="password" name="passwords" placeholder="Password">
                        </div>
                        <div style=" justify-content: start; float: left;">
                            <input type="checkbox" id="remember-me" name="Remember Password" value="Remember Password">
                            <label class="checkbox" for="remember-me"> Remember Password</label><br>

                        </div>

                        <div>
                            <span>
                                    <u>
                                        <a class="forgot" href="../Greeny-Password/password.html" style="font-size:15px;display: flex;
                                        justify-content: flex-end; ">Forget password ?
                                        </a></u>
                                </span>
                        </div>
                        <br>
                        <div class="login">
                            <div class="login logindangnhap" type="submit">Login</div>
                        </div>
                        <div>
                            <strong class="line">Or</strong>
                        </div>
                    </form>
                    <div>
                        <div class="content">
                            <a href="https://www.facebook.com/" style="color: aliceblue;">
                                <div class="button buttonFacebook">Login with Facebook </div>
                            </a>

                        </div>

                        <div class="content">
                            <a href="https://accounts.google.com/" style="color: aliceblue;">
                                <div class="button buttonGoogle">Login with Google</div>
                            </a>
                        </div>

                    </div>

                    <div class="signUp">
                        <div class="signUpBody">
                            <div class="container">
                                <br>
                                <b><div style="text-align: center;">Don't have an account?</div></b>
                                <br>
                                <div class="login">
                                    <a href="../signup/signup.component.html">
                                        <div class="login logindangnhap" type="submit">Sign up for Grenny</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="signUp">
            <div class="signUpHeader">
                <div class="container">
                    <div class="boxContent">
                        <p style="color:black; font-size: 0.75em;"> <br> If you click "Login with Facebook" and aren't a Grenny user, you will be registered and you agree to Grenny's
                            <a href="" target="_blank"> Terms & Conditions</a>
                            <br> and
                            <a href="" target="_blank"> Privacy Policy.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>

</nb-card>