.footer1{
    background-color: #263238;
    
}
.image1{
    width: 12%;
    display: flex;
    justify-content: space-around;
}
.title1{
    color: grey;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    padding-bottom: 20%;
}